<!DOCTYPE html>
<html>
  <head>
    <% include template/head %>
    <title>Online Video Editor - Upload</title>
  </head>
  <header>
    <% include template/header %>
  </header>
  <body>
    <div class="container">
      <h1>Audio - File Upload</h1>
      <p>Select the file you want to upload. The file should be an audio file. The supported formats are:
        <br> - .mp3
        <br> - .ogg
        <br> - .wav
       </p>
      <form class="form-group" action="audioFileUpload" method="post" enctype="multipart/form-data">
        <input type="file" class="form-control-file" name="audioFileToUpload"><br>
        <input type="submit" class="btn btn-primary" value="Upload">
      </form>
    </div>
    <% include template/scripts %>
  </body>
</html>
