<!DOCTYPE html>
<html>
  <head>
    <% include template/head %>
    <title>Online Video Editor</title>
  </head>
  <header>
    <% include template/header %>
  </header>
  <body>
    <h1>Online Video Editor</h1>
    <p>This is my Online Video Editor</p>

    <% include template/scripts %>
  </body>
</html>
