<!-- header -->
    <nav class="navbar navbar-default">
        <ul class="navbar-nav mr-auto">
          <li <%- menuitem=='main' && menuitem ? 'class="active"' : '' %>><a href="/">Home</a></li>
          <li <%- menuitem=='fileUpload' && menuitem ? 'class="active"' : '' %>><a href="/fileUpload">Video File Upload</a></li>
          <li <%- menuitem=='fileUpload' && menuitem ? 'class="active"' : '' %>><a href="/audioFileUpload">Audio File Upload</a></li>

        </ul>
    </nav>
